<!DOCTYPE html>
<html lang="zh">
<head>
    <%- include('_partial/head', {title: message}); %>
</head>
<body>
    <h1><%= message %></h1>

    <% if(typeof description !== 'undefined') { %>
    <p><%= description %></p>
    <% } %>
    
    <% if(error.stack) { %>
    <pre><%= error.stack %></pre>
    <% } %>
</body>
</html>