<!DOCTYPE html>
<html lang="zh">
<head>
    <%- include('head', {title: message}); %>
</head>
<body>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
</body>
</html>