<!DOCTYPE html>
<html lang="zh">
<head>
    <%- include('_partial/head', {title: '九江职业技术学院成绩查询系统'}); %>
    <style>
        footer {
            font-size: 12px;
            color: #5c5c5c;
            padding-top: 120px;
        }
        @media (min-height: 624px) {
            footer {
                position: fixed;
                bottom: 0;
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <%- include('_partial/message', {message: message}) %>
    
    <div class="container">
        <header class="page-header" style="padding-bottom: 16px;">
            <h1 class="text-center visible-xs-block">九职成绩查询系统</h1>
            <h1 class="text-center hidden-xs">九江职业技术学院成绩查询系统</h1>
        </header>

        <form class="form-horizontal" method="POST" action="/">
        <div class="form-group">
            <label for="stuId" class="col-sm-2 control-label">学号</label>
            <div class="col-sm-9">
            <input type="text" name="stuId" class="form-control" id="stuId" placeholder="学号" required>
            </div>
        </div>
        <div class="form-group">
            <label for="stuPwd" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-9">
            <input type="password" name="stuPwd" class="form-control" id="stuPwd" placeholder="教务系统密码" required>
            </div>
        </div>
        <div class="form-group">
            <label for="code" class="col-sm-2 control-label">验证码</label>
            <div class="col-sm-9">
            <input type="text" name="code" class="form-control" id="code" placeholder="验证码" required autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <!-- 验证码 -->
                <img id="captcha" src="/captcha" alt="点击更换验证码" title="点击更换验证码" style="cursor: pointer;">
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        var captcha = document.getElementById('captcha');
                        var lastClickTime;
                        captcha.addEventListener('click', function() {
                            lastClickTime = lastClickTime || new Date() - 1000;
                            if(new Date() - lastClickTime < 600) return;
                            lastClickTime = +new Date();
                            this.src = '/captcha?' + parseInt(Math.random() * 10000);
                        });
                    });
                </script>
            </div>
        </div>
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <%- include('_partial/date-picker', typeof date !== 'undefined' ? {date: date} : {}) %>
        </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
            <input type="submit" class="btn btn-info form-control" value="查询">
            </div>
        </div>

        </form>

    </div>

    <footer>
        <div class="container">
            <div class="col-sm-offset-2 col-sm-9">
                <p>九江职业技术学院成绩查询系统</p>
                <p>项目地址：<a href="https://github.com/Chocolatl/jvtc-transcript">github.com/chocolatl/jvtc-transcript</a></p>
            </div>
        </div>
    </footer>

    <script>
        // 15分钟后自动刷新主页（会话有效期从请求主页开始只有15分钟）
        (function() {
            var loadTime = +new Date();
            var handle;
            handle = setInterval(function() {
                if(+new Date() - loadTime > 900000) {
                    location.reload(true);
                    clearInterval(handle);
                }
            }, 500);
        })();
    </script>
</body>
</html>