<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>九江职业技术学院成绩查询系统</title>
    <%- include('./common.css.ejs') %>
    <style>
        h1 {
            position: absolute;
            top: -62px;
        }

        .message {
            width: 80%;
            margin: 0 auto;
            color: #15abee;
            line-height: 16px;
            word-break: break-all;
        }

        .login-container {
            position: fixed;
            left: calc(50vw - 340px / 2);
            top: calc(50vh - 210px / 2 - 5vh);
            width: 340px;
            padding-top: 16px;
            min-height: 210px;
        }

        .login-form {
            padding-top: 26px;
        }

        input[name="userid"].warn,
        input[name="password"].warn {
            border-bottom: 1px solid #ffaa8f;
        }

        input[name="userid"]:focus,
        input[name="password"]:focus {
            border-bottom: 1px solid #9fd4fe;
        }

        input[type="radio"] {
            display: none;
        }

        .range-sel {
            text-align: right;
            word-spacing: 8px;
        }

        .range-sel label {
            cursor: pointer;
            color: #666;
        }

        .range-sel input[type="radio"]:checked + label {
            color: #15abee;
        }
    </style>
</head>

<body>
    <div class="login-container card">
        <h1>九职成绩查询系统</h1>
        <div class="message">
            <%= typeof message === 'string' ? message : '' %>
        </div>
        <form class="login-form" action="/" method="POST">
            <div class="form-group">
                <input type="text" name="userid" placeholder="学号" autofocus maxlength="16">
            </div>
            <div class="form-group">
                <input type="password" name="password" placeholder="教务系统密码" maxlength="24">
            </div>
            <div class="form-group range-sel">
                <input id="range-latest" type="radio" name="range" value="latest" checked>
                <label for="range-latest">最新学期</label>
                <input id="range-all" type="radio" name="range" value="all">
                <label for="range-all">所有学期</label>
            </div>
            <div class="form-group">
                <input type="submit" value="查询">
            </div>
        </form>

        <footer>
            <p>九江职业技术学院成绩查询系统 · <a href="https://github.com/Chocolatl/jvtc-transcript/">GitHub</a></p>
            <p>Copyright &copy; 2020 Chocolatl | <a href="https://blog.wcnm.kim/">Hcer</a></p>
        </footer>
    </div>


    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var el_userid = document.querySelector('[name="userid"]'),
                el_password = document.querySelector('[name="password"]'),
                el_form = document.querySelector('.login-form'),
                el_submit = document.querySelector('[type="submit"]');


            var onQueryBegin = function() {
                el_submit.value = '正在查询';
                el_submit.disabled = true;
            }

            var onQueryEnd = (function() {
                var value = el_submit.value;
                return function() {
                    el_submit.value = value;
                    el_submit.disabled = false;
                }
            })();

            // 去除学号字段的非数字字符
            el_userid.addEventListener('change', function(ev) {
                ev.target.value = [].slice.call(ev.target.value).filter(function(c){
                    return c >= '0' && c <= '9';
                }).join('');
            });

            // 没有填账号或密码
            [el_userid, el_password].forEach(function(el) {
                el.addEventListener('blur', function(ev) {
                    if(ev.target.value === '') {
                        ev.target.classList.add('warn');
                    } else {
                        ev.target.classList.remove('warn');
                    }
                });
            });

            el_form.addEventListener('submit', function(ev) {
                if(el_userid.value === '') {
                    ev.preventDefault();
                    el_userid.focus();
                } else if(el_password.value === '') {
                    ev.preventDefault();
                    el_password.focus();
                } else {
                    onQueryBegin();
                }
            });

            // 阻止bfcache：https://developer.mozilla.org/zh-CN/Firefox/Releases/1.5/Using_Firefox_1.5_caching
            // bfcache导致使用后退按钮返回本页面时提交按钮依然显示正在查询
            // window.onunload = function() {};
            window.onpagehide = onQueryEnd;     // 更好的完成了上面被注释代码的任务
        });
    </script>
</body>
</html>
