<!DOCTYPE html>
<html lang="zh">
<head>
    <%- include('_partial/head', {title: '九江职业技术学院成绩查询系统'}); %>
    <style>
        footer {
            font-size: 12px;
            color: #5c5c5c;
            padding-top: 120px;
        }
        @media (min-height: 624px) {
            footer {
                position: fixed;
                bottom: 0;
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <%- include('_partial/message', {message: message}) %>
    
    <div class="container">
        <header class="page-header" style="padding-bottom: 16px;">
            <h1 class="text-center visible-xs-block">九职成绩查询系统</h1>
            <h1 class="text-center hidden-xs">九江职业技术学院成绩查询系统</h1>
        </header>

        <form class="form-horizontal" method="POST" action="/">
        <div class="form-group">
            <label for="userid-input" class="col-sm-2 control-label">学号</label>
            <div class="col-sm-9">
            <input type="text" name="userid" class="form-control" id="userid-input" placeholder="学号" required>
            </div>
        </div>
        <div class="form-group">
            <label for="password-input" class="col-sm-2 control-label">密码</label>
            <div class="col-sm-9">
            <input type="password" name="password" class="form-control" id="password-input" placeholder="教务系统密码" required>
            </div>
        </div>
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <%- include('_partial/semester-picker', typeof semester !== 'undefined' ? {semester} : {semester: ''}) %>
        </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
            <input type="submit" class="btn btn-info form-control" value="查询">
            </div>
        </div>
        </form>
    </div>

    <footer>
        <div class="container">
            <div class="col-sm-offset-2 col-sm-9">
                <p>九江职业技术学院成绩查询系统</p>
                <p>项目地址：<a href="https://github.com/Chocolatl/jvtc-transcript">github.com/chocolatl/jvtc-transcript</a></p>
            </div>
        </div>
    </footer>
</body>
</html>