<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <style>
        @media (max-width: 768px) {
            .four-char-width {
                width: 4em;
            }
        }
        .large-padding-top {
            padding-top: 120px;
        }
    </style>
</head>
<body>
    <div class="container">
    <table class="table table-hover">
        <caption><h1 class="text-center">成绩认定记录</h1></caption>
        <thead>
        <tr>
            <th>课程名称</th>
            <th class="four-char-width">学分</th>
            <th class="four-char-width">类型</th>
            <th class="four-char-width">分数</th>
        </tr>
        </thead>
        <tbody>
        <% for(let item of transcript) { %>
        <tr>
            <td><%= item.name %></td>
            <td><%= item.credit %></td>
            <td><%= item.type %></td>
            <td><%= item.score %></td>
        </tr>
        <% } %>
        </tbody>
    </table>
    </div>

    <footer class="large-padding-top">
    <div class="container">        
        <p class="small">项目地址：<a href="https://github.com/Chocolatl/jvtc-transcript">https://github.com/Chocolatl/jvtc-transcript</a></p>
        <p class="small">Chocolatl, 2017.6.28</p>
    </div>
    </footer>
</body>
</html>