<%
    var thisYear = new Date().getFullYear();
    var thisMonth = new Date().getMonth();

    var createOption = (a, b) => `<option value="${a}${b}" ${date == '' + a + b ? 'selected' : ''}>${a}-${+a + 1}学年第${['一','二'][b]}学期</option>`;

    var options = [
        createOption(thisYear - 2, 1),
        createOption(thisYear - 2, 0),
        createOption(thisYear - 3, 1),
        createOption(thisYear - 3, 0),
        createOption(thisYear - 4, 1),
        createOption(thisYear - 4, 0)
    ];

    if(thisMonth >= 0) {    // 一月起
        options.unshift(createOption(thisYear - 1, 0));
    }
    if(thisMonth >= 4) {    // 五月起
        options.unshift(createOption(thisYear - 1, 1));
    }
    if(thisMonth >= 10) {   // 十一月起
        options.unshift(createOption(thisYear, 0));
    }
%>

<select id="date-picker" name="date" class="form-control">
    <%- options.join('') %>
</select>